.container {
    height: 100%;
    width: 100%;
    background-color: #091227;
    padding: 1rem;
}

.link {
    color: #eaf0ff;
    font-weight: bold;
    font-size: 45;
    align-content: flex-start;
}
.imgIcon {
    margin-left: 300;
    margin-top: 20;
    height: 30;
    width: 30;
    align-content: flex-end;
}
.recommend {
    color: #eaf0ff;
    font-weight: bold;
    font-size: 25;
}
.nameSong {
    color: #eaf0ff;
    font-weight: 450;
    align-items: center;
    font-size: 20;
    text-align: center;
    margin: 10px;
    margin-bottom: 3px;
    width: 10rem; /* the element needs a fixed width (in px, em, %, etc) */
}
.nameSinger {
    color: #eaf0ff;
    font-weight: 450;
    font-size: 14;
    opacity: 0.7;
    text-align: center;
    width: 10rem; /* the element needs a fixed width (in px, em, %, etc) */
}
.bottom {
    position: absolute;
    bottom: 0;
    background-color: #091227;
    margin: 4px;
}
.listSong {
    padding: 0.6rem;
    margin: 0.1rem;
}
.actionMusic {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 20;
}
