.container {
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
}

.link {
    color: rgb(250, 139, 158);
    font-weight: bold;
    font-size: 15;
    text-decoration: underline;
}
