.container {
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: #091227;
}
.link {
    color: #EAF0FF;
    font-weight: bold;
    font-size: 45;
    align-content: flex-start;
}
.imgIcon{
    margin-left: 300;
    margin-top: 20;
    height: 30;
    width: 30;
    align-content: flex-end;
}
.recommend{
    color: #EAF0FF;
    font-weight: bold;
    font-size: 25;
}
.nameSong{
    color: #EAF0FF;
    font-weight: 450;
    font-size: 20;
    margin-left: 10px;
    margin-bottom: 3px;
}
.nameSinger{
    color: #EAF0FF;
    margin-left: 10px;
    font-weight: 450;
    font-size: 14;
    opacity: 0.7;
}